body {
    background-image: url("images/img5.gif");
}
    
    h1,h2,h3,h4,h5,{
           color:darkgoldenrod;text-align:left;font-family:'Harlow Solid';font-size:20px;background-color:grey;
                    }
h3, h4, h5 {
    text-align: match-parent;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 2px solid black;
}
    .test-box {
    border-bottom: 6px solid black; width: 15cm;
    border-top: 4px solid black;
    border-left: 6px solid  black;
    border-right: 6px solid  black;
    font-family: Calibri;font-size:20px;
    
}
.important {
    color: darkred;
    font-family: Algerian;
}
.sidebar {
    width: 400px;
    float: right;
    color: black;
    background-image:url("images/image10.jpg");
}
    .float{
              float:right;
              font-size:15px;
          }
    
        
    }
.bar{
    font-family:'Times New Roman';
    font-size:25px;
}